@import "tailwindcss";

.navy-blue {
  background-color: #000080; /* Navy */
}

.primary-color {
  background-color: #212842; /* Accent (gold) for headings */
}

.bg-color {
  color: #F0E7D5; /* Light gray for secondary text */
}

